<main id="main" class="main" >
    
    <div class="icon">
        <a href="/admin/log_files/log_23_04_2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> log_23_04_2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
    <div class="icon">
        <a href="/admin/log_files/2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> 2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
    <div class="icon">
        <a href="/admin/log_files/log_22_04_2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> log_22_04_2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
    <div class="icon">
        <a href="/admin/log_files/log_30_04_2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> log_30_04_2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
    <div class="icon">
        <a href="/admin/log_files/log_24_04_2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> log_24_04_2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
    <div class="icon">
        <a href="/admin/log_files/log_29_04_2024/">
        <i class="bi bi-folder2" style="font-size:2rem;"></i> log_29_04_2024
            </a>
<!--        <div class="label">folder2</div>-->
    </div>
    
</main><!-- End #main -->