.nav-link:focus, .nav-link:hover {
    color: #0a58ca !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}
.bg-error {
    background-color: #f8f0e0!important;
}