<div class=" info-card sales-card {{cardColor}}">
    <div class="card-body">
        <h5 class="card-title">{{cardTitle}}</h5>

        <div class="d-flex align-items-center">
            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center {{iconColor}}">
                <i class="{{icon}}"></i>
            </div>
            <div class="ps-3">
                <h6>
                    {{Description}}
                </h6>
            </div>
        </div>
    </div>
</div>