<p>main works!</p>
<main id="main" class="main">


    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-4 col-md-6 mt-3">
                                        <div class=" info-card sales-card lght_blue">
                                            <div class="card-body">
                                                <h5 class="card-title">Number of Jobs</h5>

                                                <div class="d-flex align-items-center">
                                                    <div
                                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center blue_grad">
                                                        <i class="bi bi-journal-text"></i>
                                                    </div>
                                                    <div class="ps-3">
                                                        <h6>
                                                            {{numbers_jobs}}
                                                        </h6>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- End Sales Card -->

                                    <!-- Revenue Card -->
                                    <div class="col-xxl-4 col-md-6 mt-3">
                                        <div class=" info-card revenue-card lght_purple">
                                            <div class="card-body">
                                                <h5 class="card-title">Number of Company's</h5>

                                                <div class="d-flex align-items-center">
                                                    <div
                                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center purple_grad">
                                                        <i class="bi bi-bar-chart"></i>
                                                    </div>
                                                    <div class="ps-3">
                                                        <h6>
                                                            {{comp_count}}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- End Revenue Card -->

                                    <!-- Customers Card -->
                                    <div class="col-xxl-4 col-xl-12 mt-3">

                                        <div class=" info-card customers-card lght_green">
                                            <div class="card-body">
                                                <h5 class="card-title">Website Count</h5>

                                                <div class="d-flex align-items-center">
                                                    <div
                                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center green_grad">
                                                        <i class="bi bi-people"></i>
                                                    </div>
                                                    <div class="ps-3">
                                                        <h6>5</h6>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div><!-- End Customers Card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>

</main><!-- End #main -->